Repository Fasttify/fasttify, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, lambda, config, themes, documentation, tests, scripts, emails, styling, assets, infrastructure, github-actions

.github/labeler.yml:

# Configuración de labels automáticos para el proyecto Fasttify
# Basado en los archivos modificados en pull requests

# Frontend y componentes UI
frontend:
  - app/**/*.tsx
  - app/**/*.ts
  - components/**/*.tsx
  - components/**/*.ts
  - packages/theme-editor/**/*
  - packages/orders-app/**/*

# Amplify y backend
backend:
  - amplify/**/*
  - app/api/**/*
  - lib/**/*.ts
  - utils/**/*.ts
  - middlewares/**/*.ts

# Funciones Lambda
lambda:
  - amplify/functions/**/*
  - amplify/data/functions/**/*

# Configuración y DevOps
config:
  - '**/*.json'
  - '**/*.yml'
  - '**/*.yaml'
  - '**/*.config.*'
  - next.config.*
  - tailwind.config.*
  - tsconfig*.json
  - package*.json
  - pnpm-*.yaml

# Temas y plantillas
themes:
  - packages/example-themes/**/*
  - packages/liquid-forge/**/*
  - app/themes/**/*

# Documentación
documentation:
  - docs/**/*
  - '**/*.md'
  - README.md
  - CONTRIBUTING.md
  - SECURITY.md
  - CODE_OF_CONDUCT.md

# Tests
tests:
  - test/**/*
  - '**/*.test.*'
  - '**/*.spec.*'
  - jest.*
  - __tests__/**/*

# Scripts y utilidades
scripts:
  - scripts/**/*

# Email templates
emails:
  - packages/emails/**/*

# Estilos y CSS
styling:
  - app/global.css
  - '**/*.css'
  - '**/*.scss'
  - '**/*.sass'

# Imágenes y assets
assets:
  - packages/image-optimization/**/*
  - '**/*.png'
  - '**/*.jpg'
  - '**/*.jpeg'
  - '**/*.gif'
  - '**/*.svg'
  - '**/*.webp'

# Dominios y infraestructura
infrastructure:
  - packages/tenant-domains/**/*
  - packages/lambda-edge-host-rewriter/**/*

# Workflows de GitHub Actions
github-actions:
  - .github/**/*

Update presigned URL thresholds for S3 image uploads to enhance security and efficiency
  app/store/hooks/storage/useS3ImageUpload.ts
Labels: frontend

Refactor TotalSalesChartCard tooltip payload type and clean up ImageSelectorModal upload progress component
  app/store/components/analytics/components/TotalSalesChartCard.tsx
  app/store/components/images-selector/components/ImageSelectorModal.tsx
Labels: frontend

Add @shopify/draggable dependency and integrate DraggableMenuItems component into MenuItemForm
  app/store/components/navigation-management/components/DraggableMenuItems.tsx
  app/store/components/navigation-management/components/MenuItemForm.tsx
  app/store/components/navigation-management/index.ts
  package.json
  pnpm-lock.yaml
Labels: frontend, config

Update DraggableMenuItems component to ensure proper modal container handling and refine swap animation settings
  app/store/components/navigation-management/components/DraggableMenuItems.tsx
Labels: frontend

Refactor image handling in content components to use ContentThumbnail
  app/store/components/content/components/details/ContentDetailsModal.tsx
  app/store/components/content/components/listing/ContentCardMobile.tsx
  app/store/components/content/components/listing/ContentTableRow.tsx
  app/store/components/content/components/media/ContentThumbnail.tsx
  app/store/components/images-selector/components/ImageCard.tsx
Labels: frontend

Update package.json and pnpm configuration to include theme-studio package and upgrade pnpm version
  app/store/[slug]/studio/page.tsx
  app/store/[slug]/studio/studioClient.tsx
  app/store/layout/StoreLayoutClient.tsx
  package.json
  packages/theme-studio/README.md
  packages/theme-studio/package.json
  packages/theme-studio/src/application/use-cases/index.ts
  packages/theme-studio/src/application/use-cases/load-template.use-case.ts
  packages/theme-studio/src/application/use-cases/render-preview.use-case.ts
  packages/theme-studio/src/domain/entities/index.ts
  packages/theme-studio/src/domain/entities/section.entity.ts
  packages/theme-studio/src/domain/entities/template.entity.ts
  packages/theme-studio/src/domain/entities/theme.entity.ts
  packages/theme-studio/src/domain/ports/index.ts
  packages/theme-studio/src/domain/ports/preview-renderer.port.ts
  packages/theme-studio/src/domain/ports/section-repository.port.ts
  packages/theme-studio/src/domain/ports/template-repository.port.ts
  packages/theme-studio/src/domain/ports/theme-repository.port.ts
  packages/theme-studio/src/index.ts
  packages/theme-studio/src/infrastructure/adapters/preview-renderer.adapter.ts
  packages/theme-studio/src/infrastructure/adapters/section-repository.adapter.ts
  packages/theme-studio/src/infrastructure/adapters/template-repository.adapter.ts
  packages/theme-studio/src/infrastructure/services/.gitkeep
  packages/theme-studio/src/presentation/components/ThemeStudio.tsx
  packages/theme-studio/src/presentation/components/header/EditorHeader.tsx
  packages/theme-studio/src/presentation/components/preview/PreviewPane.tsx
  packages/theme-studio/src/presentation/components/settings/SettingsPane.tsx
  packages/theme-studio/src/presentation/components/sidebar/Sidebar.tsx
  packages/theme-studio/src/presentation/hooks/useThemeStudio.ts
  packages/theme-studio/src/presentation/stores/studioStore.ts
  packages/theme-studio/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.base.json
Labels: frontend, config, documentation

Add preview functionality to StorePage and enhance domain resolution
  app/[store]/page.tsx
  app/[store]/src/_lib/controllers/preview-page-controller.ts
  app/[store]/src/_lib/services/domain.service.ts
  app/store/[slug]/studio/studioClient.tsx
  next.config.ts
  packages/theme-studio/src/application/use-cases/render-preview.use-case.ts
  packages/theme-studio/src/presentation/components/ThemeStudio.tsx
  packages/theme-studio/src/presentation/components/preview/PreviewPane.tsx
  packages/theme-studio/src/presentation/hooks/usePreviewUrl.ts
Labels: frontend, config

Update LICENSE to include Shopify Polaris attribution and modify EditorHeader component for improved accessibility and localization
  LICENSE
  packages/theme-studio/src/presentation/components/header/EditorHeader.tsx
Labels: none

Enhance EditorHeader component with improved tooltip accessibility and localization
  NOTICE.md
Labels: documentation

Enhance ThemeStudio and related components with improved page selection and preview functionality
  app/api/stores/[storeId]/themes/templates/route.ts
  app/api/stores/_lib/themes/controllers/list-templates-controller.ts
  packages/theme-studio/src/presentation/components/ThemeStudio.tsx
  packages/theme-studio/src/presentation/components/header/EditorHeader.tsx
  packages/theme-studio/src/presentation/components/page-selector/PageSelector.tsx
  packages/theme-studio/src/presentation/components/preview/PreviewPane.tsx
  packages/theme-studio/src/presentation/hooks/usePreviewUrl.ts
  packages/theme-studio/src/presentation/hooks/useStoreTemplates.ts
Labels: frontend, backend

Update hero section and template configurations for improved localization and functionality
  packages/example-themes/fasttify/theme/sections/hero.liquid
  packages/example-themes/fasttify/theme/templates/index.json
  packages/liquid-forge/renderers/dynamic-page-renderer.ts
  packages/liquid-forge/services/page/data-loader/pagination/pagination-limit-extractor.ts
  packages/liquid-forge/services/rendering/render-page-content.ts
  packages/liquid-forge/services/rendering/section-renderer.ts
  packages/theme-studio/src/presentation/components/ThemeStudio.tsx
  packages/theme-studio/src/presentation/components/preview/PreviewPane.tsx
  packages/theme-studio/src/presentation/hooks/useIframeNavigation.ts
Labels: config, themes

Optimize iframe navigation and preview updates in ThemeStudio components
  packages/theme-studio/src/presentation/components/preview/PreviewPane.tsx
  packages/theme-studio/src/presentation/hooks/useIframeNavigation.ts
Labels: none

Enhance Sidebar component with dynamic page title and loading state management
  app/api/stores/[storeId]/themes/layout/structure/route.ts
  app/api/stores/[storeId]/themes/sections/available/route.ts
  app/api/stores/[storeId]/themes/structure/[pageType]/route.ts
  app/api/stores/_lib/themes/controllers/get-layout-structure-controller.ts
  app/api/stores/_lib/themes/controllers/get-template-structure-controller.ts
  app/api/stores/_lib/themes/controllers/list-available-sections-controller.ts
  packages/theme-studio/src/presentation/components/ThemeStudio.tsx
  packages/theme-studio/src/presentation/components/sidebar/Sidebar.tsx
  packages/theme-studio/src/presentation/components/sidebar/SidebarLoading.tsx
  packages/theme-studio/src/presentation/hooks/useAvailableSections.ts
  packages/theme-studio/src/presentation/hooks/useLayoutStructure.ts
  packages/theme-studio/src/presentation/hooks/useTemplateStructure.ts
Labels: frontend, backend

Refactor Sidebar component to integrate SectionGroup for layout sections
  packages/theme-studio/src/presentation/components/sidebar/Sidebar.tsx
  packages/theme-studio/src/presentation/components/sidebar/block-item/BlockItem.tsx
  packages/theme-studio/src/presentation/components/sidebar/section-group/SectionGroup.tsx
  packages/theme-studio/src/presentation/components/sidebar/section-item/SectionItem.tsx
  packages/theme-studio/src/presentation/hooks/useSidebarState.ts
Labels: none

Refactor SectionGroup and SectionItem components for improved layout and interaction
  packages/theme-studio/src/presentation/components/sidebar/section-group/SectionGroup.tsx
  packages/theme-studio/src/presentation/components/sidebar/section-item/SectionItem.tsx
Labels: none

Enhance Sidebar component with Divider elements for improved visual separation
  packages/theme-studio/src/presentation/components/sidebar/Sidebar.tsx
Labels: none

Add block configurations to various theme sections for enhanced customization
  packages/example-themes/fasttify/theme/sections/cart.liquid
  packages/example-themes/fasttify/theme/sections/featured-products.liquid
  packages/example-themes/fasttify/theme/sections/footer.liquid
  packages/example-themes/fasttify/theme/sections/header.liquid
  packages/example-themes/fasttify/theme/sections/hero.liquid
  packages/example-themes/fasttify/theme/sections/home-collections.liquid
  packages/example-themes/fasttify/theme/sections/newsletter-popup.liquid
  packages/example-themes/fasttify/theme/snippets/header.liquid
  packages/liquid-forge/liquid/tags/core/render-tag.ts
  packages/theme-studio/src/presentation/components/sidebar/Sidebar.tsx
  packages/theme-studio/src/presentation/components/sidebar/block-item/BlockItem.tsx
  packages/theme-studio/src/presentation/components/sidebar/section-group/SectionGroup.tsx
  packages/theme-studio/src/presentation/components/sidebar/section-item/SectionItem.tsx
Labels: themes

Update hero section to support customizable action buttons and enhance button display logic
  packages/example-themes/fasttify/theme/sections/hero.liquid
  packages/example-themes/fasttify/theme/templates/index.json
  packages/theme-studio/src/presentation/components/sidebar/block-item/BlockItem.tsx
Labels: config, themes

Implement structuredClone polyfill and refactor LiquidEngine to use compileTemplate
  jest.setup.ts
  packages/liquid-forge/compiler/index.ts
  packages/liquid-forge/compiler/liquid-compiler.ts
  packages/liquid-forge/compiler/liquid-instance-factory.ts
  packages/liquid-forge/compiler/shared-instance.ts
  packages/liquid-forge/exports.ts
  packages/liquid-forge/liquid/engine.ts
  packages/liquid-forge/services/templates/template-loader.ts
  packages/liquid-forge/services/themes/validation/rules/liquid-syntax-rules.ts
  test/unit/compiler/compile-template.test.ts
  test/unit/compiler/liquid-compiler.test.ts
  test/unit/compiler/liquid-instance-factory.test.ts
  test/unit/compiler/setup.ts
  test/unit/compiler/shared-instance.test.ts
Labels: themes, tests

Remove unnecessary exports from LiquidEngine class
  packages/liquid-forge/liquid/engine.ts
Labels: themes

Update pnpm version to 10.20.0 across workflows and amplify configuration
  .github/workflows/build.yml
  .github/workflows/prettier.yml
  .github/workflows/unit_test.yml
  amplify.yml
Labels: config, github-actions

Update Node.js setup in build workflow to use single quotes for consistency
  .github/workflows/build.yml
Labels: config, github-actions

Enhance CacheInvalidationService with detailed invalidation logic and statistics tracking
  packages/liquid-forge/services/core/cache/cache-invalidation-service.ts
  packages/liquid-forge/services/templates/sync/template-dev-synchronizer.ts
Labels: themes

Enhance Theme Studio with fasttify_attributes filter and sidebar state management
  docs/engine/theme-studio-selection.mdx
  docs/index.mdx
  packages/example-themes/fasttify/theme/sections/hero.liquid
  packages/liquid-forge/liquid/filters/html-filters.ts
  packages/liquid-forge/services/rendering/fasttify-attributes-builder.ts
  packages/liquid-forge/services/rendering/section-renderer.ts
  packages/theme-studio/src/presentation/components/ThemeStudio.tsx
  packages/theme-studio/src/presentation/components/preview/PreviewPane.tsx
  packages/theme-studio/src/presentation/components/sidebar/Sidebar.tsx
  packages/theme-studio/src/presentation/hooks/useIframeSelection.ts
  packages/theme-studio/src/presentation/hooks/useSidebarState.ts
  packages/theme-studio/src/presentation/utils/iframe-selection-script.js
  test/unit/liquid-filters/html-filters.test.ts
  test/unit/services/fasttify-attributes-builder.test.ts
Labels: themes, documentation, tests

Add domain parameter to PreviewPane and useIframeSelection for iframe script injection
  packages/theme-studio/src/presentation/components/preview/PreviewPane.tsx
  packages/theme-studio/src/presentation/hooks/useIframeSelection.ts
  packages/theme-studio/src/presentation/utils/iframe-selection-script.js
  packages/theme-studio/src/presentation/utils/iframe-selection-script/constants.js
  packages/theme-studio/src/presentation/utils/iframe-selection-script/domain-links.js
  packages/theme-studio/src/presentation/utils/iframe-selection-script/event-handlers.js
  packages/theme-studio/src/presentation/utils/iframe-selection-script/extract-function-body.js
  packages/theme-studio/src/presentation/utils/iframe-selection-script/init.js
  packages/theme-studio/src/presentation/utils/iframe-selection-script/selection.js
  packages/theme-studio/src/presentation/utils/iframe-selection-script/utils.js
Labels: none

Enhance ThemeStudio and SettingsPane with image selector component integration
  app/store/[slug]/studio/studioClient.tsx
  packages/theme-studio/src/presentation/components/ThemeStudio.tsx
  packages/theme-studio/src/presentation/components/settings/SettingField.tsx
  packages/theme-studio/src/presentation/components/settings/SettingsGroup.tsx
  packages/theme-studio/src/presentation/components/settings/SettingsPane.tsx
  packages/theme-studio/src/presentation/components/settings/form-fields/CheckboxSetting.tsx
  packages/theme-studio/src/presentation/components/settings/form-fields/ColorSetting.tsx
  packages/theme-studio/src/presentation/components/settings/form-fields/HeaderSetting.tsx
  packages/theme-studio/src/presentation/components/settings/form-fields/ImagePickerSetting.tsx
  packages/theme-studio/src/presentation/components/settings/form-fields/ParagraphSetting.tsx
  packages/theme-studio/src/presentation/components/settings/form-fields/RangeSetting.tsx
  packages/theme-studio/src/presentation/components/settings/form-fields/SelectSetting.tsx
  packages/theme-studio/src/presentation/components/settings/form-fields/TextSetting.tsx
  packages/theme-studio/src/presentation/components/settings/form-fields/TextareaSetting.tsx
  packages/theme-studio/src/presentation/components/settings/form-fields/UrlSetting.tsx
  packages/theme-studio/src/presentation/components/settings/form-fields/index.ts
  packages/theme-studio/src/presentation/hooks/useSelectedSection.ts
  packages/theme-studio/src/presentation/hooks/useUpdateSectionSettings.ts
Labels: frontend

Refactor iframe selection styles in Theme Studio
  packages/theme-studio/src/presentation/utils/iframe-selection-script/constants.js
Labels: none

Enhance ThemeStudio with selectedElementName integration and improved hover label functionality
  packages/theme-studio/src/presentation/components/ThemeStudio.tsx
  packages/theme-studio/src/presentation/components/preview/PreviewPane.tsx
  packages/theme-studio/src/presentation/components/settings/form-fields/ColorSetting.tsx
  packages/theme-studio/src/presentation/hooks/useIframeSelection.ts
  packages/theme-studio/src/presentation/utils/iframe-selection-script/constants.js
  packages/theme-studio/src/presentation/utils/iframe-selection-script/event-handlers.js
  packages/theme-studio/src/presentation/utils/iframe-selection-script/selection.js
Labels: none

Refactor iframe selection styles and improve label positioning in Theme Studio
  packages/theme-studio/src/presentation/utils/iframe-selection-script/constants.js
  packages/theme-studio/src/presentation/utils/iframe-selection-script/selection.js
Labels: none

Refactor hero section and enhance block schema integration in Theme Studio
  packages/example-themes/fasttify/theme/sections/hero.liquid
  packages/example-themes/fasttify/theme/templates/index.json
  packages/liquid-forge/liquid/filters/html-filters.ts
  packages/liquid-forge/services/rendering/fasttify-attributes-builder.ts
  packages/liquid-forge/services/rendering/section-renderer.ts
  packages/theme-studio/src/presentation/components/settings/SettingsPane.tsx
  packages/theme-studio/src/presentation/components/sidebar/block-item/BlockItem.tsx
  packages/theme-studio/src/presentation/components/sidebar/section-item/SectionItem.tsx
  packages/theme-studio/src/presentation/utils/iframe-selection-script/event-handlers.js
  packages/theme-studio/src/presentation/utils/iframe-selection-script/utils.js
Labels: config, themes

Enhance block schema integration and add custom block names in Theme Studio
  packages/example-themes/fasttify/theme/templates/index.json
  packages/liquid-forge/liquid/filters/html-filters.ts
  packages/theme-studio/src/presentation/components/ThemeStudio.tsx
  packages/theme-studio/src/presentation/components/settings/SettingsPane.tsx
  packages/theme-studio/src/presentation/components/sidebar/block-item/BlockItem.tsx
  packages/theme-studio/src/presentation/hooks/useSelectedSection.ts
Labels: config, themes

Enhance hero section settings with additional headers and info fields
  packages/example-themes/fasttify/theme/sections/hero.liquid
Labels: themes

Refactor SectionItem component to improve click handling and expand functionality
  packages/theme-studio/src/presentation/components/sidebar/section-item/SectionItem.tsx
Labels: none

Enhance sidebar functionality with sub-block selection and improved block structure
  packages/theme-studio/src/domain/entities/section.entity.ts
  packages/theme-studio/src/presentation/components/ThemeStudio.tsx
  packages/theme-studio/src/presentation/components/sidebar/Sidebar.tsx
  packages/theme-studio/src/presentation/components/sidebar/block-item/BlockItem.tsx
  packages/theme-studio/src/presentation/components/sidebar/section-group/SectionGroup.tsx
  packages/theme-studio/src/presentation/components/sidebar/section-item/SectionItem.tsx
  packages/theme-studio/src/presentation/hooks/useSelectedSection.ts
  packages/theme-studio/src/presentation/hooks/useSidebarState.ts
Labels: none

Add fasttifyAttributesFilter to filters and update related components for sub-block support
  packages/liquid-forge/liquid/filters.ts
  packages/liquid-forge/liquid/filters/fasttify-attributes-filter.ts
  packages/liquid-forge/liquid/filters/html-filters.ts
  packages/liquid-forge/services/rendering/fasttify-attributes-builder.ts
  packages/theme-studio/src/presentation/components/ThemeStudio.tsx
  packages/theme-studio/src/presentation/components/preview/PreviewPane.tsx
  packages/theme-studio/src/presentation/hooks/useIframeSelection.ts
  packages/theme-studio/src/presentation/utils/iframe-selection-script/event-handlers.js
  packages/theme-studio/src/presentation/utils/iframe-selection-script/selection.js
  packages/theme-studio/src/presentation/utils/iframe-selection-script/utils.js
Labels: themes

Refactor fasttifyAttributesFilter for improved parent block handling and integrate into htmlFilters
  packages/liquid-forge/liquid/filters/fasttify-attributes-filter.ts
  packages/liquid-forge/liquid/filters/html-filters.ts
Labels: themes

Update pnpm-lock.yaml for AWS SDK version consistency and enhance Theme Studio with new use cases and settings management
  app/api/stores/[storeId]/dev/update/route.ts
  app/api/stores/[storeId]/dev/ws/route.ts
  app/api/stores/_lib/dev-server/application/use-cases/update-block-setting.use-case.ts
  app/api/stores/_lib/dev-server/application/use-cases/update-section-setting.use-case.ts
  app/api/stores/_lib/dev-server/application/use-cases/update-sub-block-setting.use-case.ts
  app/api/stores/_lib/dev-server/controllers/sse-controller.ts
  app/api/stores/_lib/dev-server/domain/entities/dev-session.entity.ts
  app/api/stores/_lib/dev-server/domain/ports/section-renderer.port.ts
  app/api/stores/_lib/dev-server/domain/ports/template-loader.port.ts
  app/api/stores/_lib/dev-server/infrastructure/adapters/section-renderer.adapter.ts
  app/api/stores/_lib/dev-server/infrastructure/adapters/template-loader.adapter.ts
  app/api/stores/_lib/dev-server/infrastructure/services/dev-session-manager.service.ts
  packages/theme-studio/src/application/use-cases/index.ts
  packages/theme-studio/src/application/use-cases/save-changes.use-case.ts
  packages/theme-studio/src/application/use-cases/update-block-setting.use-case.ts
  packages/theme-studio/src/application/use-cases/update-section-setting.use-case.ts
  packages/theme-studio/src/application/use-cases/update-sub-block-setting.use-case.ts
  packages/theme-studio/src/domain/entities/editor-session.entity.ts
  packages/theme-studio/src/domain/entities/index.ts
  packages/theme-studio/src/domain/entities/template.entity.ts
  packages/theme-studio/src/domain/ports/dev-server.port.ts
  packages/theme-studio/src/domain/ports/index.ts
  packages/theme-studio/src/domain/ports/template-manager.port.ts
  packages/theme-studio/src/domain/ports/template-renderer.port.ts
  packages/theme-studio/src/infrastructure/adapters/dev-server.adapter.ts
  packages/theme-studio/src/infrastructure/adapters/template-manager.adapter.ts
  packages/theme-studio/src/infrastructure/adapters/template-repository.adapter.ts
  packages/theme-studio/src/presentation/components/ThemeStudio.tsx
  packages/theme-studio/src/presentation/components/preview/PreviewPane.tsx
  packages/theme-studio/src/presentation/components/settings/SettingsPane.tsx
  packages/theme-studio/src/presentation/hooks/useDevServer.ts
  packages/theme-studio/src/presentation/hooks/useHotReload.ts
  packages/theme-studio/src/presentation/hooks/useSettingsPane.ts
  pnpm-lock.yaml
Labels: frontend, backend, config

Update session ID generation in DevSessionManagerService to use secure random bytes for improved uniqueness
  app/api/stores/_lib/dev-server/infrastructure/services/dev-session-manager.service.ts
Labels: frontend, backend

Enhance SectionRenderer to support compatibility for templates without fasttify_attributes
  packages/liquid-forge/services/rendering/fasttify-attributes-detector.ts
  packages/liquid-forge/services/rendering/section-renderer.ts
  packages/theme-studio/src/presentation/utils/iframe-selection-script.js
  packages/theme-studio/src/presentation/utils/iframe-selection-script/compatibility.js
Labels: themes

Refactor SSE connection handling to improve dead connection management and enhance reconnection logic in DevServerAdapter
  app/api/stores/_lib/dev-server/controllers/sse-controller.ts
  packages/example-themes/fasttify/theme/sections/hero.liquid
  packages/theme-studio/src/infrastructure/adapters/dev-server.adapter.ts
Labels: frontend, backend, themes
