Repository Fasttify/fasttify, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, lambda, config, themes, documentation, tests, scripts, emails, styling, assets, infrastructure, github-actions

.github/labeler.yml:

# Configuración de labels automáticos para el proyecto Fasttify
# Basado en los archivos modificados en pull requests

# Frontend y componentes UI
frontend:
  - app/**/*.tsx
  - app/**/*.ts
  - components/**/*.tsx
  - components/**/*.ts
  - packages/theme-editor/**/*
  - packages/orders-app/**/*

# Amplify y backend
backend:
  - amplify/**/*
  - app/api/**/*
  - lib/**/*.ts
  - utils/**/*.ts
  - middlewares/**/*.ts

# Funciones Lambda
lambda:
  - amplify/functions/**/*
  - amplify/data/functions/**/*

# Configuración y DevOps
config:
  - '**/*.json'
  - '**/*.yml'
  - '**/*.yaml'
  - '**/*.config.*'
  - next.config.*
  - tailwind.config.*
  - tsconfig*.json
  - package*.json
  - pnpm-*.yaml

# Temas y plantillas
themes:
  - packages/example-themes/**/*
  - packages/liquid-forge/**/*
  - app/themes/**/*

# Documentación
documentation:
  - docs/**/*
  - '**/*.md'
  - README.md
  - CONTRIBUTING.md
  - SECURITY.md
  - CODE_OF_CONDUCT.md

# Tests
tests:
  - test/**/*
  - '**/*.test.*'
  - '**/*.spec.*'
  - jest.*
  - __tests__/**/*

# Scripts y utilidades
scripts:
  - scripts/**/*

# Email templates
emails:
  - packages/emails/**/*

# Estilos y CSS
styling:
  - app/global.css
  - '**/*.css'
  - '**/*.scss'
  - '**/*.sass'

# Imágenes y assets
assets:
  - packages/image-optimization/**/*
  - '**/*.png'
  - '**/*.jpg'
  - '**/*.jpeg'
  - '**/*.gif'
  - '**/*.svg'
  - '**/*.webp'

# Dominios y infraestructura
infrastructure:
  - packages/tenant-domains/**/*
  - packages/lambda-edge-host-rewriter/**/*

# Workflows de GitHub Actions
github-actions:
  - .github/**/*

Integrate Next.js router in ThemeList component for improved navigation
  app/store/components/theme-management/components/ThemeList.tsx
Labels: frontend

Refactor SectionRendererAdapter to modularize section rendering logic and improve data loading
  app/api/stores/_lib/dev-server/infrastructure/adapters/section-renderer.adapter.ts
  packages/example-themes/fasttify/theme/sections/hero.liquid
  packages/liquid-forge/liquid/filters/ecommerce-filters.ts
  packages/liquid-forge/services/core/data-transformer.ts
  packages/liquid-forge/services/fetchers/collection/collection-transformer.ts
Labels: frontend, backend, themes

Add history management to use cases and enhance Theme Studio with undo/redo functionality
  packages/theme-studio/src/application/use-cases/index.ts
  packages/theme-studio/src/application/use-cases/record-change.use-case.ts
  packages/theme-studio/src/application/use-cases/redo-change.use-case.ts
  packages/theme-studio/src/application/use-cases/undo-change.use-case.ts
  packages/theme-studio/src/application/use-cases/update-block-setting.use-case.ts
  packages/theme-studio/src/application/use-cases/update-section-setting.use-case.ts
  packages/theme-studio/src/application/use-cases/update-sub-block-setting.use-case.ts
  packages/theme-studio/src/domain/entities/history.entity.ts
  packages/theme-studio/src/domain/entities/index.ts
  packages/theme-studio/src/domain/ports/history-manager.port.ts
  packages/theme-studio/src/domain/ports/index.ts
  packages/theme-studio/src/domain/ports/template-manager.port.ts
  packages/theme-studio/src/infrastructure/adapters/history-manager.adapter.ts
  packages/theme-studio/src/presentation/components/ThemeStudio.tsx
  packages/theme-studio/src/presentation/components/header/EditorHeader.tsx
  packages/theme-studio/src/presentation/hooks/useHistory.ts
  packages/theme-studio/src/presentation/hooks/useHotReload.ts
Labels: none

Integrate save changes functionality in Theme Studio and update EditorHeader for pending changes indication
  packages/theme-studio/src/presentation/components/ThemeStudio.tsx
  packages/theme-studio/src/presentation/components/header/EditorHeader.tsx
  packages/theme-studio/src/presentation/hooks/useSaveChanges.ts
Labels: none

Refactor SettingsPane to utilize EmptySettingsState component for improved user experience
  packages/theme-studio/src/presentation/components/settings/EmptySettingsState.tsx
  packages/theme-studio/src/presentation/components/settings/SettingsPane.tsx
Labels: none

Enhance Theme Studio with inspector toggle functionality and keyboard shortcuts integration
  packages/theme-studio/src/presentation/components/ThemeStudio.tsx
  packages/theme-studio/src/presentation/components/preview/PreviewPane.tsx
  packages/theme-studio/src/presentation/components/shortcuts/ShortcutsModal.tsx
  packages/theme-studio/src/presentation/hooks/useIframeSelection.ts
  packages/theme-studio/src/presentation/hooks/useKeyboardShortcuts.ts
  packages/theme-studio/src/presentation/utils/iframe-selection-script/constants.js
  packages/theme-studio/src/presentation/utils/iframe-selection-script/event-handlers.js
Labels: none

Add unsaved changes handling in Theme Studio with modal confirmation
  packages/theme-studio/src/presentation/components/ThemeStudio.tsx
  packages/theme-studio/src/presentation/components/unsaved-changes/UnsavedChangesModal.tsx
Labels: none

Add reorder functionality for sections, blocks, and sub-blocks in Theme Studio
  packages/theme-studio/src/application/use-cases/index.ts
  packages/theme-studio/src/application/use-cases/redo-change.use-case.ts
  packages/theme-studio/src/application/use-cases/reorder-blocks.use-case.ts
  packages/theme-studio/src/application/use-cases/reorder-sections.use-case.ts
  packages/theme-studio/src/application/use-cases/reorder-sub-blocks.use-case.ts
  packages/theme-studio/src/application/use-cases/undo-change.use-case.ts
  packages/theme-studio/src/domain/entities/editor-session.entity.ts
  packages/theme-studio/src/domain/entities/history.entity.ts
  packages/theme-studio/src/domain/ports/dev-server.port.ts
  packages/theme-studio/src/infrastructure/adapters/dev-server.adapter.ts
  packages/theme-studio/src/infrastructure/adapters/history-manager.adapter.ts
  packages/theme-studio/src/infrastructure/adapters/template-manager.adapter.ts
  packages/theme-studio/src/presentation/components/ThemeStudio.tsx
  packages/theme-studio/src/presentation/components/sidebar/draggable-block-list/DraggableBlockList.tsx
  packages/theme-studio/src/presentation/components/sidebar/draggable-section-group/DraggableSectionGroup.tsx
  packages/theme-studio/src/presentation/hooks/useHotReload.ts
Labels: none

Enhance featured products section with customizable settings and dynamic styles
  packages/example-themes/fasttify/theme/sections/featured-products.liquid
  packages/example-themes/fasttify/theme/templates/index.json
Labels: config, themes

Implement S3 integration for template saving and backup in TemplateLoaderAdapter
  app/api/stores/[storeId]/themes/templates/[templateType]/route.ts
  app/api/stores/_lib/dev-server/application/use-cases/save-template.use-case.ts
  app/api/stores/_lib/dev-server/infrastructure/adapters/template-loader.adapter.ts
  app/api/stores/_lib/themes/controllers/save-template-controller.ts
Labels: frontend, backend

Update ecommerce filters tests to handle full URLs for image optimization
  test/unit/liquid-filters/ecommerce-filters.test.ts
Labels: tests

Remove unused hotReload prop from ThemeStudio component to streamline code and improve clarity.
  packages/theme-studio/src/presentation/components/ThemeStudio.tsx
Labels: none

Update documentation links in index.mdx for theme development and customization
  docs/engine/theme-studio-customization.mdx
  docs/index.mdx
Labels: documentation

Add WebSocket API integration and refactor for real-time updates in Theme Studio
  amplify/backend.ts
  amplify/config/outputs.ts
  amplify/config/websocket-api.ts
  amplify/data/models/websocket-connection.ts
  amplify/data/resource.ts
  amplify/functions/websocket-dev-server/application/use-cases/broadcast-message.use-case.ts
  amplify/functions/websocket-dev-server/application/use-cases/connect-websocket.use-case.ts
  amplify/functions/websocket-dev-server/application/use-cases/disconnect-websocket.use-case.ts
  amplify/functions/websocket-dev-server/application/use-cases/index.ts
  amplify/functions/websocket-dev-server/domain/entities/websocket-connection.entity.ts
  amplify/functions/websocket-dev-server/domain/ports/connection-repository.port.ts
  amplify/functions/websocket-dev-server/domain/ports/message-sender.port.ts
  amplify/functions/websocket-dev-server/handler.ts
  amplify/functions/websocket-dev-server/infrastructure/adapters/amplify-connection-repository.adapter.ts
  amplify/functions/websocket-dev-server/infrastructure/adapters/api-gateway-message-sender.adapter.ts
  amplify/functions/websocket-dev-server/infrastructure/adapters/index.ts
  amplify/functions/websocket-dev-server/resource.ts
  app/api/stores/[storeId]/dev/update/route.ts
  app/api/stores/[storeId]/dev/ws/route.ts
  app/api/stores/[storeId]/themes/templates/[templateType]/route.ts
  app/api/stores/_lib/dev-server/controllers/sse-controller.ts
  app/api/stores/_lib/dev-server/infrastructure/services/websocket-broadcast.service.ts
  app/api/stores/_lib/themes/controllers/get-template-controller.ts
  app/store/[slug]/studio/studioClient.tsx
  docs/architecture/jwt-setup.mdx
  package.json
  packages/theme-studio/src/domain/ports/template-manager.port.ts
  packages/theme-studio/src/infrastructure/adapters/template-manager.adapter.ts
  packages/theme-studio/src/infrastructure/adapters/websocket-dev-server.adapter.ts
  packages/theme-studio/src/presentation/components/ThemeStudio.tsx
  packages/theme-studio/src/presentation/hooks/useDevServer.ts
  packages/theme-studio/src/presentation/hooks/useHistory.ts
  packages/theme-studio/src/presentation/hooks/useHotReload.ts
  pnpm-lock.yaml
  utils/client/AmplifyUtils.ts
Labels: frontend, backend, lambda, config, documentation

Implement save handler and update pending changes state in Theme Studio
  packages/theme-studio/src/presentation/components/ThemeStudio.tsx
  packages/theme-studio/src/presentation/hooks/useHotReload.ts
  packages/theme-studio/src/presentation/hooks/useSaveChanges.ts
Labels: none

Refactor WebSocket connection model authorization to restrict public API key access
  amplify/data/models/websocket-connection.ts
Labels: backend

Update API configurations in build.yml to include 'stage' and add new APIs
  .github/workflows/build.yml
Labels: config, github-actions

Refactor message handling in iframe selection hooks to validate message type instead of origin
  packages/theme-studio/src/presentation/hooks/useIframeSelection.ts
  packages/theme-studio/src/presentation/utils/iframe-selection-script/event-handlers.js
Labels: none

Enhance iframe selection script with detailed logging for better debugging
  packages/theme-studio/src/presentation/hooks/useIframeSelection.ts
  packages/theme-studio/src/presentation/utils/iframe-selection-script/constants.js
  packages/theme-studio/src/presentation/utils/iframe-selection-script/event-handlers.js
  packages/theme-studio/src/presentation/utils/iframe-selection-script/init.js
  packages/theme-studio/src/presentation/utils/iframe-selection-script/selection.js
Labels: none

Refactor iframe selection script to remove excessive logging and improve performance
  packages/theme-studio/src/presentation/hooks/useIframeSelection.ts
  packages/theme-studio/src/presentation/utils/iframe-selection-script.js
  packages/theme-studio/src/presentation/utils/iframe-selection-script/constants.js
  packages/theme-studio/src/presentation/utils/iframe-selection-script/event-handlers.js
  packages/theme-studio/src/presentation/utils/iframe-selection-script/init.js
  packages/theme-studio/src/presentation/utils/iframe-selection-script/selection.js
Labels: none

Enhance injectAssets function to support optional domain parameter for ThemeStudio script injection
  packages/liquid-forge/lib/inject-assets.ts
  packages/liquid-forge/renderers/dynamic-page-renderer.ts
  packages/liquid-forge/services/rendering/theme-studio-script-injector.ts
  packages/theme-studio/src/index.ts
  packages/theme-studio/src/presentation/utils/iframe-selection-script.ts
Labels: themes

Implement early return in injectScript method to prevent duplicate script injection for ThemeStudio
  packages/liquid-forge/services/rendering/theme-studio-script-injector.ts
Labels: themes

Add detailed logging to injectAssets and ThemeStudioScriptInjector for improved debugging
  packages/liquid-forge/lib/inject-assets.ts
  packages/liquid-forge/services/rendering/theme-studio-script-injector.ts
Labels: themes

Remove excessive logging from injectAssets and ThemeStudioScriptInjector for cleaner code and improved performance
  packages/liquid-forge/lib/inject-assets.ts
  packages/liquid-forge/services/rendering/theme-studio-script-injector.ts
  packages/theme-studio/src/presentation/utils/iframe-selection-script/compatibility.js
Labels: themes

Refactor iframe selection script to improve structure and performance
  next-env.d.ts
  packages/theme-studio/src/presentation/utils/iframe-selection-script.js
  packages/theme-studio/src/presentation/utils/iframe-selection-script.ts
  packages/theme-studio/src/presentation/utils/iframe-selection-script/compatibility.js
  packages/theme-studio/src/presentation/utils/iframe-selection-script/constants.js
  packages/theme-studio/src/presentation/utils/iframe-selection-script/domain-links.js
  packages/theme-studio/src/presentation/utils/iframe-selection-script/event-handlers.js
  packages/theme-studio/src/presentation/utils/iframe-selection-script/init.js
  packages/theme-studio/src/presentation/utils/iframe-selection-script/selection.js
  packages/theme-studio/src/presentation/utils/iframe-selection-script/utils.js
Labels: none

Update route import in next-env.d.ts and add early return in iframe selection script to prevent execution in top window
  next-env.d.ts
  packages/theme-studio/src/presentation/utils/iframe-selection-script.js
Labels: none

Remove commented-out code from ThemeStudio component for cleaner implementation
  packages/theme-studio/src/presentation/components/ThemeStudio.tsx
Labels: none

Refactor Jest configuration and setup files by removing commented-out code for improved clarity and maintainability
  jest.config.ts
  jest.setup.ts
Labels: config, tests

Update package.json to bump pnpm version to 10.25.0 and add new theme converter scripts. Remove deprecated Shopify to Fasttify converter files.
  package.json
  scripts/parser/shopify-to-fasttify-converter.ts
  scripts/parser/shopify-to-fasttify-mapping.json
  scripts/theme-converter/ARCHITECTURE.md
  scripts/theme-converter/README.md
  scripts/theme-converter/cli/convert.ts
  scripts/theme-converter/config/conversion-config.ts
  scripts/theme-converter/config/default-mappings.json
  scripts/theme-converter/converters/__tests__/filter-converter.test.ts
  scripts/theme-converter/converters/__tests__/tag-converter.test.ts
  scripts/theme-converter/converters/__tests__/variable-converter.test.ts
  scripts/theme-converter/converters/filter-converter.ts
  scripts/theme-converter/converters/index.ts
  scripts/theme-converter/converters/schema-converter.ts
  scripts/theme-converter/converters/tag-converter.ts
  scripts/theme-converter/converters/variable-converter.ts
  scripts/theme-converter/core/conversion-context.ts
  scripts/theme-converter/core/theme-scanner.ts
  scripts/theme-converter/parsers/index.ts
  scripts/theme-converter/parsers/liquid-parser-fasttify.ts
  scripts/theme-converter/parsers/liquid-parser.ts
  scripts/theme-converter/rules/rule-engine.ts
  scripts/theme-converter/test/run-test.ts
  scripts/theme-converter/test/simple-test.ts
  scripts/theme-converter/test/test-theme/sections/test-section.liquid
  scripts/theme-converter/test/test-theme/snippets/test-snippet.liquid
  scripts/theme-converter/test/test-theme/templates/product.json
  scripts/theme-converter/types/conversion-types.ts
  scripts/theme-converter/types/report-types.ts
  scripts/theme-converter/types/theme-types.ts
  scripts/theme-converter/utils/file-utils.ts
  scripts/theme-converter/utils/logger.ts
  scripts/theme-converter/validators/syntax-validator.ts
Labels: config, documentation, tests, scripts

Add baseline-browser-mapping dependency and update package.json and pnpm-lock.yaml
  package.json
  packages/liquid-forge/index.ts
  packages/liquid-forge/lib/inject-assets.ts
  packages/liquid-forge/liquid/filters.ts
  packages/liquid-forge/renderers/dynamic-page-renderer.ts
  packages/liquid-forge/renderers/pipeline-steps/build-context-step.ts
  pnpm-lock.yaml
  scripts/theme-converter/cli/convert.ts
  scripts/theme-converter/converters/index.ts
  scripts/theme-converter/converters/template-converter.ts
  scripts/theme-converter/types/conversion-types.ts
Labels: config, themes, scripts

Update pnpm-lock.yaml to remove deprecated baseline-browser-mapping version and correct AWS SDK dependencies
  pnpm-lock.yaml
Labels: config

Refactor DomainResolver for improved caching and error handling
  packages/liquid-forge/services/core/domain-resolver.ts
Labels: themes

Add improved append and prepend filters to LiquidJS, enhance rendering data structure, and integrate theme settings into context
  packages/liquid-forge/liquid/filters/base-filters.ts
  packages/liquid-forge/renderers/dynamic-page-renderer.ts
  packages/liquid-forge/renderers/pipeline-steps/build-context-step.ts
  packages/liquid-forge/renderers/pipeline-steps/load-data-step.ts
  packages/liquid-forge/services/themes/settings/color-parser.ts
  packages/liquid-forge/services/themes/settings/default-settings.ts
  packages/liquid-forge/services/themes/settings/font-parser.ts
  packages/liquid-forge/services/themes/settings/index.ts
  packages/liquid-forge/services/themes/settings/settings-loader.ts
  packages/liquid-forge/services/themes/settings/settings-transformer.ts
  packages/liquid-forge/services/themes/settings/types.ts
  scripts/theme-converter/cli/convert.ts
  scripts/theme-converter/converters/index.ts
  scripts/theme-converter/converters/template-post-processor.ts
Labels: themes, scripts

Remove unnecessary comments from PaginateTag and RenderTag classes for improved code clarity and maintainability.
  packages/liquid-forge/liquid/tags/core/paginate-tag.ts
  packages/liquid-forge/liquid/tags/core/render-tag.ts
Labels: themes

Refactor theme converter scripts to improve structure and update paths
  package.json
  packages/liquid-forge/scripts/theme-converter/ARCHITECTURE.md
  packages/liquid-forge/scripts/theme-converter/README.md
  packages/liquid-forge/scripts/theme-converter/cli/convert.ts
  packages/liquid-forge/scripts/theme-converter/config/conversion-config.ts
  packages/liquid-forge/scripts/theme-converter/config/default-mappings.json
  packages/liquid-forge/scripts/theme-converter/converters/__tests__/filter-converter.test.ts
  packages/liquid-forge/scripts/theme-converter/converters/__tests__/tag-converter.test.ts
  packages/liquid-forge/scripts/theme-converter/converters/__tests__/variable-converter.test.ts
  packages/liquid-forge/scripts/theme-converter/converters/filter-converter.ts
  packages/liquid-forge/scripts/theme-converter/converters/index.ts
  packages/liquid-forge/scripts/theme-converter/converters/schema-converter.ts
  packages/liquid-forge/scripts/theme-converter/converters/tag-converter.ts
  packages/liquid-forge/scripts/theme-converter/converters/template-converter.ts
  packages/liquid-forge/scripts/theme-converter/converters/template-post-processor.ts
  packages/liquid-forge/scripts/theme-converter/converters/variable-converter.ts
  packages/liquid-forge/scripts/theme-converter/core/conversion-context.ts
  packages/liquid-forge/scripts/theme-converter/core/theme-scanner.ts
  packages/liquid-forge/scripts/theme-converter/parsers/index.ts
  packages/liquid-forge/scripts/theme-converter/parsers/liquid-parser-fasttify.ts
  packages/liquid-forge/scripts/theme-converter/parsers/liquid-parser.ts
  packages/liquid-forge/scripts/theme-converter/rules/rule-engine.ts
  packages/liquid-forge/scripts/theme-converter/test/run-test.ts
  packages/liquid-forge/scripts/theme-converter/test/simple-test.ts
  packages/liquid-forge/scripts/theme-converter/test/test-theme/sections/test-section.liquid
  packages/liquid-forge/scripts/theme-converter/test/test-theme/snippets/test-snippet.liquid
  packages/liquid-forge/scripts/theme-converter/test/test-theme/templates/product.json
  packages/liquid-forge/scripts/theme-converter/types/conversion-types.ts
  packages/liquid-forge/scripts/theme-converter/types/report-types.ts
  packages/liquid-forge/scripts/theme-converter/types/theme-types.ts
  packages/liquid-forge/scripts/theme-converter/utils/file-utils.ts
  packages/liquid-forge/scripts/theme-converter/utils/logger.ts
  packages/liquid-forge/scripts/theme-converter/validators/syntax-validator.ts
Labels: config, themes, documentation, tests

Update package.json to bump pnpm version from 10.25.0 to 10.26.1
  package.json
Labels: config
