Repository Fasttify/fasttify, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, lambda, config, themes, documentation, tests, scripts, emails, styling, assets, infrastructure, github-actions

Refactor user store model authorization rules to enhance security
  amplify/data/models/user-store.ts
Labels: backend

Refactor environment variable handling and improve theme management components
  amplify/data/models/user-store.ts
  app/api/stores/_lib/assets/controllers/get-asset-controller.ts
  app/api/stores/_lib/themes/controllers/activate-controller.ts
  app/api/themes/_lib/services/s3-theme-files.service.ts
  app/store/components/store-config/components/LogoUploader.tsx
  app/store/components/store-config/components/ThemePreview.tsx
  app/store/components/store-setup/components/EcommerceSetup.tsx
  app/store/components/theme-management/components/ImportThemeDropdown.tsx
  app/store/components/theme-management/components/InactiveThemesList.tsx
  app/store/components/theme-management/components/ThemeList.tsx
  app/store/components/theme-management/components/ThemeModals.tsx
  app/store/components/theme-management/components/ThemePreviewCard.tsx
  app/store/components/theme-management/components/ThemeUploadForm.tsx
  app/store/components/theme-management/components/ThemeUploadModal.tsx
  app/store/components/theme-management/hooks/useThemeActions.ts
  app/store/components/theme-management/hooks/useThemeUpload.ts
  app/store/components/theme-management/types/theme-types.ts
  packages/liquid-forge/services/templates/template-loader.ts
  utils/server/cdn-url.ts
Labels: frontend, backend, themes

Integrate Shopify Polaris components and enhance StoreSelector layout
  app/(setup)/layout.tsx
  app/(setup)/my-store/components/EmptyStoreState.tsx
  app/(setup)/my-store/components/StoreCard.tsx
  app/(setup)/my-store/components/StoreFilters.tsx
  app/(setup)/my-store/components/StoreList.tsx
  app/(setup)/my-store/components/StoreListHeader.tsx
  app/(setup)/my-store/components/StoreSelector.tsx
  app/(setup)/my-store/components/UserMenu.tsx
  app/(setup)/my-store/hooks/useUserStores.ts
  app/(setup)/my-store/types/store.types.ts
Labels: frontend

Refactor StoreSelector component for improved responsiveness and styling
  app/(setup)/my-store/components/StoreSelector.tsx
Labels: frontend

Add Jest setup for matchMedia and ResizeObserver mocks; update StoreSelector tests with AppProvider wrapper
  jest.setup.ts
  test/unit/components/StoreSelector.test.tsx
Labels: tests

Update StoreCard component layout for improved styling and semantics
  app/(setup)/my-store/components/StoreCard.tsx
Labels: frontend

Enhance authentication middleware and store access logic
  lib/debug/auth-debug.ts
  middlewares/auth/auth.ts
  middlewares/store-access/store.ts
Labels: backend

Add logging for production environment in middleware and authentication handlers
  lib/debug/auth-debug.ts
  middleware.ts
  middlewares/auth/auth.ts
Labels: backend

Add production logging for login and authentication redirects
  middleware.ts
  middlewares/auth/auth.ts
Labels: backend

Add detailed production logging in getSession function
  middlewares/auth/auth.ts
Labels: backend

Refactor getSession function to use AuthGetCurrentUserServer for user retrieval
  middlewares/auth/auth.ts
Labels: backend

Refactor authentication middleware to streamline session management and enhance error handling
  lib/debug/auth-debug.ts
  middleware.ts
  middlewares/auth/auth.ts
  middlewares/ownership/collectionOwnership.ts
  middlewares/ownership/pagesOwnership.ts
  middlewares/ownership/productOwnership.ts
  middlewares/store-access/store.ts
  middlewares/store-access/storeAccess.ts
  middlewares/subscription/subscription.ts
  test/unit/integration/auth-flow.test.ts
  test/unit/middlewares/auth-cache.test.ts
  test/unit/middlewares/auth.test.ts
Labels: backend, tests

Enhance authentication middleware by integrating user attributes fetching
  middlewares/auth/auth.ts
  middlewares/store-access/store.ts
  test/unit/integration/auth-flow.test.ts
  test/unit/middlewares/auth-cache.test.ts
  test/unit/middlewares/auth.test.ts
  utils/client/AmplifyUtils.ts
Labels: backend, tests

Implement user authentication cache invalidation and enhance session management
  app/api/webhooks/polar/route.ts
  lib/auth/cache-invalidation.ts
  middlewares/auth/auth.ts
  test/unit/middlewares/auth-cache.test.ts
Labels: frontend, backend, tests

Update handleStoreMiddleware to retrieve validated session from handleAuthenticationMiddleware
  middlewares/store-access/store.ts
Labels: backend

Enhance Polar webhook processing to support multiple customer ID formats
  app/api/_lib/polar/services/polar-webhook-processor.service.ts
  app/api/_lib/polar/services/polar.service.ts
Labels: frontend, backend

Refactor subscription logic to simplify validation checks
  app/store/hooks/useSubscriptionLogic.ts
Labels: frontend

Enhance Polar services by extracting plan price calculation into a utility function
  app/api/_lib/polar/services/polar-webhook-processor.service.ts
  app/api/_lib/polar/services/subscription.service.ts
  app/api/_lib/polar/utils/price-extractor.util.ts
  jest.setup.ts
Labels: frontend, backend, tests

Enhance subscription data fetching by adding selection set for user subscriptions
  context/core/useSubscriptionStore.ts
Labels: none

Refactor image selection and loading logic in ImageGallery and ImageSelectorModal
  app/store/components/images-selector/components/ImageCard.tsx
  app/store/components/images-selector/components/ImageGallery.tsx
  app/store/components/images-selector/components/ImageSelectorModal.tsx
  app/store/hooks/storage/useLogoUpload.ts
  app/store/hooks/storage/useS3ImageDelete.ts
  app/store/hooks/storage/useS3ImagesWithOperations.ts
Labels: frontend

Refactor product mutation logic to remove dependency on withLowercaseName utility
  app/store/hooks/data/useProducts/mutations/useProductMutations.ts
Labels: frontend

Refactor subscription logic to determine paid plan based on plan name
  app/store/hooks/useSubscriptionLogic.ts
Labels: frontend

Refactor InactiveThemesList component to remove unused action options
  app/store/components/theme-management/components/InactiveThemesList.tsx
Labels: frontend

Remove middleware.ts file and update import paths for optimized image components
  app/(setup)/first-steps/page.tsx
  app/(setup)/login/components/main-components/AuthForm.tsx
  app/(setup)/login/components/main-components/ImageSlider.tsx
  app/(www)/landing/components/FashionSlider.tsx
  app/(www)/landing/components/FirstView.tsx
  app/(www)/landing/components/Platform.tsx
  app/[store]/page.tsx
  app/api/v1/auth/_lib/controllers/send-token-controller.ts
  app/store/components/ai-chat/types/chat-types.ts
  app/store/components/analytics/components/DateRangePicker/DateRangePicker.tsx
  app/store/components/app-integration/components/AppIntegrationPage.tsx
  app/store/components/app-integration/components/steps/IntroStep.tsx
  app/store/components/notifications/hooks/useNotificationPopover.ts
  app/store/components/payments/components/PaymentGatewayCard.tsx
  app/store/components/profile/components/ProfilePageSkeleton.tsx
  app/store/components/profile/components/shared/UserAvatar.tsx
  app/store/components/sidebar/components/PolarisLayout.tsx
  app/store/components/theme-management/hooks/useThemeUpload.ts
  app/store/layout.tsx
  app/store/layout/StoreLayoutClient.tsx
  components/ui/optimized-image.tsx
  lib/actions/secure-image.ts
  lib/imageLoader.ts
  next-env.d.ts
  next.config.ts
  package.json
  packages/theme-editor/src/components/file-tree.tsx
  packages/theme-editor/src/components/ui/ContextMenuBase.tsx
  pnpm-lock.yaml
  proxy.ts
  test/unit/middlewares/middleware.test.ts
Labels: frontend, backend, config, tests

Update README.md to reflect new version numbers for Next.js and Node.js
  README.md
Labels: documentation

Enhance Jest configuration and optimize image loading logic
  components/ui/optimized-image.tsx
  jest.config.ts
Labels: frontend, config, tests

Remove OptimizedImage component and associated tests to streamline codebase
  components/ui/optimized-image.tsx
  test/unit/hooks/useEditorState.test.ts
Labels: frontend, tests

Remove imageLoader function to streamline codebase
  lib/imageLoader.ts
Labels: backend

Refactor image imports to use Next.js Image component
  app/(setup)/first-steps/page.tsx
  app/(setup)/login/components/main-components/AuthForm.tsx
  app/(setup)/login/components/main-components/ImageSlider.tsx
  app/store/components/app-integration/components/AppIntegrationPage.tsx
  app/store/components/app-integration/components/steps/IntroStep.tsx
  app/store/components/profile/components/shared/UserAvatar.tsx
Labels: frontend

Enhance authentication middleware by adding AuthFetchAuthSessionServer function
  middlewares/auth/auth.ts
Labels: backend

Enhance authentication tests by integrating AuthFetchAuthSessionServer
  test/unit/integration/auth-flow.test.ts
  test/unit/middlewares/auth-cache.test.ts
  test/unit/middlewares/auth.test.ts
Labels: tests

Refactor form components to improve structure and readability
  components/ui/form.tsx
Labels: frontend

Enhance authentication error handling in AuthForm and related components
  app/(setup)/login/components/main-components/AuthForm.tsx
  app/(setup)/login/hooks/SignIn.ts
  lib/auth/auth-error-messages.ts
Labels: frontend, backend

Refactor StorePage component to use controllers and improve error handling
  app/[store]/page.tsx
  app/[store]/src/_lib/constants/store.constants.ts
  app/[store]/src/_lib/controllers/store-metadata-controller.ts
  app/[store]/src/_lib/controllers/store-page-controller.ts
  app/[store]/src/_lib/services/domain.service.ts
  app/[store]/src/_lib/services/store-tracking.service.ts
  app/[store]/src/components/DevAutoReloadScript.tsx
  app/[store]/src/lib/store-page-utils.ts
  app/store/components/notifications/components/NotificationPopover.tsx
  app/store/components/notifications/hooks/useNotificationPopover.ts
  app/store/components/profile/components/SubscriptionSection.tsx
  app/store/hooks/data/useOrders/notifications/useOrderNotifications.ts
  app/store/hooks/utils/useSubscriptionLogic.ts
  packages/liquid-forge/liquid/tags/filters/javascript-generator.ts
  packages/liquid-forge/liquid/tags/filters/js/filter-main.js
  packages/liquid-forge/liquid/tags/filters/js/filter-state.js
  scripts/upload-base-template.js
  test/unit/cache/cache-invalidation-service.test.ts
  test/unit/cache/cache-manager.test.ts
  test/unit/liquid-filters/ecommerce-filters.test.ts
  test/unit/liquid-tags/render-tag.test.ts
  test/unit/liquid-tags/schema-tag.test.ts
  test/unit/liquid-tags/script-tag.test.ts
  test/unit/liquid-tags/setup.ts
  test/unit/pipeline-steps/build-context-step.test.ts
  test/unit/pipeline-steps/initialize-engine-step.test.ts
  test/unit/pipeline-steps/load-data-step.test.ts
  test/unit/pipeline-steps/render-content-step.test.ts
  test/unit/pipeline-steps/resolve-store-step.test.ts
Labels: frontend, themes, tests, scripts

Refactor order notifications hook to improve import structure
  app/store/hooks/data/useOrders/notifications/useOrderNotifications.ts
Labels: frontend

Update import paths and enhance notification services
  app/api/domain-validation/_lib/controllers/verify-controller.ts
  app/store/hooks/data/useOrders/notifications/useOrderNotifications.ts
  next-env.d.ts
  packages/liquid-forge/services/fetchers/order/order-fetcher.ts
  packages/liquid-forge/services/notifications/index.ts
  packages/liquid-forge/services/notifications/server.ts
Labels: frontend, backend, themes

Add transpilePackages to next.config.ts for improved package handling
  next.config.ts
Labels: config

Refactor filters and tags to utilize regex patterns for improved maintainability
  next-env.d.ts
  packages/liquid-forge/lib/regex-patterns/README.md
  packages/liquid-forge/lib/regex-patterns/filters.ts
  packages/liquid-forge/lib/regex-patterns/index.ts
  packages/liquid-forge/lib/regex-patterns/liquid-syntax.ts
  packages/liquid-forge/lib/regex-patterns/minification.ts
  packages/liquid-forge/lib/regex-patterns/utility.ts
  packages/liquid-forge/lib/regex-patterns/validation.ts
  packages/liquid-forge/liquid/filters/base-filters.ts
  packages/liquid-forge/liquid/filters/ecommerce-filters.ts
  packages/liquid-forge/liquid/filters/html-filters.ts
  packages/liquid-forge/liquid/tags/core/render-tag.ts
  packages/liquid-forge/liquid/tags/data/javascript-tag.ts
  packages/liquid-forge/liquid/tags/styling/style-tag.ts
  packages/liquid-forge/services/core/data-transformer.ts
  packages/liquid-forge/services/templates/parsing/liquid-syntax-detector.ts
  packages/liquid-forge/services/templates/parsing/schema-parser.ts
  packages/liquid-forge/services/templates/sync/template-dev-synchronizer.ts
  packages/liquid-forge/services/themes/core/theme-processor.ts
  packages/liquid-forge/services/themes/optimization/postcss-processor.ts
  packages/liquid-forge/services/themes/validation/rules/performance-rules.ts
  packages/liquid-forge/services/themes/validation/rules/security-rules.ts
  test/unit/liquid-tags/render-tag.test.ts
Labels: themes, documentation, tests

Refactor navigation components and update configuration settings
  app/store/[slug]/content/files/ContentClient.tsx
  app/store/[slug]/content/files/page.tsx
  app/store/[slug]/content/menus/NavigationClient.tsx
  app/store/[slug]/content/menus/page.tsx
  app/store/components/content/components/details/ContentDeleteConfirmModal.tsx
  app/store/components/content/components/details/ContentDetailsModal.tsx
  app/store/components/content/components/listing/ContentCardMobile.tsx
  app/store/components/content/components/listing/ContentFilters.tsx
  app/store/components/content/components/listing/ContentList.tsx
  app/store/components/content/components/listing/ContentTableDesktop.tsx
  app/store/components/content/components/listing/ContentTableRow.tsx
  app/store/components/content/hooks/useContentDetailsModal.ts
  app/store/components/content/hooks/useContentFilters.ts
  app/store/components/content/hooks/useContentFormatting.ts
  app/store/components/content/hooks/useContentSelection.ts
  app/store/components/content/index.ts
  app/store/components/content/pages/ContentManager.tsx
  app/store/components/content/pages/ContentPage.tsx
  app/store/components/content/types/content-types.ts
  app/store/components/content/utils/content-utils.ts
  app/store/components/images-selector/components/SearchAndFilters.tsx
  app/store/components/navigation-management/pages/NavigationManager.tsx
  app/store/components/sidebar/components/NavigationPolaris.tsx
  app/store/hooks/storage/useS3Images.ts
  next.config.ts
  utils/client/routes.ts
Labels: frontend, backend, config

Implement presigned URL generation for image uploads and enhance CORS handling
  amplify/functions/storeImages/handler.ts
  amplify/functions/storeImages/services/image-controller.ts
  amplify/functions/storeImages/services/s3-service.ts
  amplify/functions/storeImages/services/utils.ts
  amplify/functions/storeImages/types/types.ts
  app/store/components/images-selector/hooks/useImageUpload.ts
  app/store/components/images-selector/types/s3-types.ts
  app/store/hooks/storage/usePresignedUrls.ts
  app/store/hooks/storage/useS3ImageUpload.ts
Labels: frontend, backend, lambda

.github/labeler.yml:

# Configuración de labels automáticos para el proyecto Fasttify
# Basado en los archivos modificados en pull requests

# Frontend y componentes UI
frontend:
  - app/**/*.tsx
  - app/**/*.ts
  - components/**/*.tsx
  - components/**/*.ts
  - packages/theme-editor/**/*
  - packages/orders-app/**/*

# Amplify y backend
backend:
  - amplify/**/*
  - app/api/**/*
  - lib/**/*.ts
  - utils/**/*.ts
  - middlewares/**/*.ts

# Funciones Lambda
lambda:
  - amplify/functions/**/*
  - amplify/data/functions/**/*

# Configuración y DevOps
config:
  - '**/*.json'
  - '**/*.yml'
  - '**/*.yaml'
  - '**/*.config.*'
  - next.config.*
  - tailwind.config.*
  - tsconfig*.json
  - package*.json
  - pnpm-*.yaml

# Temas y plantillas
themes:
  - packages/example-themes/**/*
  - packages/liquid-forge/**/*
  - app/themes/**/*

# Documentación
documentation:
  - docs/**/*
  - '**/*.md'
  - README.md
  - CONTRIBUTING.md
  - SECURITY.md
  - CODE_OF_CONDUCT.md

# Tests
tests:
  - test/**/*
  - '**/*.test.*'
  - '**/*.spec.*'
  - jest.*
  - __tests__/**/*

# Scripts y utilidades
scripts:
  - scripts/**/*

# Email templates
emails:
  - packages/emails/**/*

# Estilos y CSS
styling:
  - app/global.css
  - '**/*.css'
  - '**/*.scss'
  - '**/*.sass'

# Imágenes y assets
assets:
  - packages/image-optimization/**/*
  - '**/*.png'
  - '**/*.jpg'
  - '**/*.jpeg'
  - '**/*.gif'
  - '**/*.svg'
  - '**/*.webp'

# Dominios y infraestructura
infrastructure:
  - packages/tenant-domains/**/*
  - packages/lambda-edge-host-rewriter/**/*

# Workflows de GitHub Actions
github-actions:
  - .github/**/*
